<div ng-include="'/templates/home.html'"></div>
<div class="container">
  <p class="text-center">
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% end %>
  </p>
</div>
