<div class="container" ng-controller="ArtistController as artistController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Artists</h3>
        </div>
        <div class="panel-body">
            <div class="row listenlog body">
                <div class="col-sm-12">
                    <div class="row form" ng-repeat="artist in artistController.artists">
                        <div class="col-sm-12">
                            <!-- Artist -->
                            <div class="form-group col-sm-9">
                                <input ng-model="artist.name" class="form-control" />
                            </div>
                            <div class="form-group col-sm-3">
                                <div class="btn-group btn-group pull-right">
                                    <button class="btn btn-default" ng-click="artistController.save(artist)">Update</button>
                                    <button class="btn btn-danger" ng-click="artistController.delete(artist)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row form">
                        <div class="col-sm-12">
                            <!-- New Artist -->
                            <div class="form-group col-sm-9">
                                <label for="new-artist" class="control-label">Create New:</label>
                                <input id="new-artist" ng-model="artistController.artistName" class="form-control" />
                            </div>
                            <div class="form-group col-sm-3">
                                <div class="pull-right">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-success form-control" ng-click="artistController.create()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

