<div class="container" ng-controller="CurrentController as current" ng-init="current.init(recording)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <h3 class="panel-title col-sm-6">{{ current.artist.name || 'Unknown Artist' }} - {{ current.concert.location || 'Unknown Location' }}</h3>
        <div class="panel-subtitle col-sm-6">{{ current.concert.date || '&nbsp;' }}</div>
      </div>
    </div>
      <div class="panel-body">
          <div class="row listenlog body form">
              <div class="col-sm-12">
                  <div class="row">
                      <div class="form-group col-sm-6">
                          <label class="control-label" for="recording">Recording</label>
                          <p id="recording" class="form-control-static">{{ current.recording.title || '&nbsp;' }}</p>
                      </div>
                      <div class="form-group col-sm-6">
                          <label class="control-label">Start / Stop</label>
                          <button type="button"
                                  class="btn btn-default btn-sm form-control"
                                  ng-click="current.toggle()">
                              <span class="fa" ng-class="current.buttonClass" aria-hidden="true"></span> {{ current.buttonText() || '&nbsp;' }}
                          </button>
                          <span ng-hide="current.isCollapsed">
                              <input type="text" ng-model="current.note" class="form-control">
                              <button type="button" class="btn btn-sm btn-primary form-control" ng-click="current.submit()">{{ current.action_text }}</button>
                          </span>
                      </div>
                  </div><!-- /row -->
              </div><!-- /row -->
              <div class="alert" ng-show="new.alertText.length" ng-class="new.alertClass"></div>
              <div class="row">
              </div>
          </div>
      </div>
  </div>
</div>
