<!DOCTYPE html>
<html ng-app="listenlog">
<head>
  <title>Listenlog</title>
  <%= stylesheet_link_tag    'angular_bootstrap' %>
  <%= javascript_include_tag 'angular_bootstrap' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
